*{
font-family:Acme;
margin: 0%;
padding: 0%

}
/* header */
header{
    padding-top: 25px;
    color: #fff;
    position: fixed;
    width: 100%;
    align-items: center;
    height: 60px;
}

#heads{
    display:flex;
    justify-content: space-evenly;
    
}

#heads li{
    /* margin: 5px; */
    list-style: none;
}

.dropdown:hover .dropbtn {
    background-color: #912c62;
  }

  .dropbtn{
      background-color: transparent;
      color: #fff;
  }
.dropdown-content {
    display: none;
    position: absolute;
    color:#fff;
    border-collapse: 1px solid #fff;
    background-color: transparent;
    min-width: 100px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  } */
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
.search{
    width: 25%;
    height: 40px;
    border: 1px solid #912c62;
    border-radius: 50px;
    background-color: #912c62 ;
    
}

input[type="text"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: left; 
    padding-left: 15px;
} 
input[type="text"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: left; 
    padding-left: 15px;
} 
/* end of header */
/* hero session */

.icon{
    display: none;
}
#head{
    display: none;
}
.hero{
    
    width: 100%;
    height: 100vh;
     background: linear-gradient(  rgba(94, 33, 103, 1),rgba(204,85,0,0.9)), 
    url("../img/px8.jpeg");
    background-size: cover;
    background-repeat: repeat;
    
   
    
}
.title{
    font-size: 50px;
    text-align: left;
    padding-top: 300px;
    padding-left: 80px;
    color:white;
}
.sub-title{
    font-size: 20px;
    text-align: left;
    padding-left: 80px;
    padding-bottom: 25px;
    color:white;
}
.btn-white1{
background-color: #fff;
color:#5e2167;
border-radius: 50px;
margin-left: 80px;
padding: 4px;
width:50px;
}

.btn-white2{
    background-color: #fff;
    color:#5e2167;
    border-radius: 50px;
    margin: 3px;
    padding: 4px;
    width:60px;
    }

    .btn-white3{
        background-color: #fff;
        color:#5e2167;
        border-radius: 50px;
        margin: 3px;
        padding: 4px;
        width:100px;
        }

        .btn-white4{
            background-color: #fff;
            color:#5e2167;
            border-radius: 50px;
            margin: 3px;
            padding: 4px;
            width:100px;
            }
.footer{
    display: flex;
    justify-content: space-between;
    padding-top:100px;
    
}
#play{
    background-color: transparent;
  border: 1px solid #fff;
  border-radius:50px;
  color:#fff;
  padding: 12px 16px;
  font-size: 16px;
  margin-left: 20px;
    margin-right: 15px;
  cursor: pointer;
}
#stop{
    background-color: transparent;
  border: 1px solid #fff;
  border-radius:50px;
  color:#fff;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

#heart{
    background-color: transparent;
  border: 1px solid #fff;
  border-radius:50px;
  color:#fff;
  margin: 5px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

#redo{
    background-color: transparent;
  border: 1px solid #fff;
  border-radius:50px;
  color:#fff;
  margin: 5px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


#download{
    background-color: transparent;
  border: 1px solid #fff;
  border-radius:50px;
  color:#fff;
  /* margin-left: 20px; */
    margin-right: 15px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* .players{
    margin:20px;
} */
/* .footer i{
    color:#fff;
    border:1px solid #fff;
    border-radius: 50px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 15px;
    font-size: 20px;

} */






/* media query */


@media only screen and (min-width: 335px) and (max-width: 959px) {
  .title{
    font-size: 30px;
    padding-top: 200px;
    padding-left: 20px;
    text-align: left;
    color:white;  
  }  
  .sub-title{
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    color:white;
}
.btn-white1{
    background-color: #fff;
    color:#5e2167;
    border-radius: 50px;
    margin-left: 20px;
    padding: 2px;
    width:40px;
    }

  

.buggy {
    overflow: hidden;
    background-color:transparent;
    position: absolute;
    display: block;
    width:360px;
    
    
  }
  
  .buggy #head {
    display: none;
  }
  
  .buggy a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .buggy a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right:5px;
    top: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  .buggy a:hover {
    background-color: #fff;
    color: #BF0000;
  }

     #heads{
         display: none;
     } 
    
    .btn-white2{
        background-color: #fff;
        color:#5e2167;
        border-radius: 50px;
        margin: 3px;
        padding: 2px;
        width:50px;
        }
    
        .btn-white3{
            background-color: #fff;
            color:#5e2167;
            border-radius: 50px;
            margin: 3px;
            padding: 2px;
            width:80px;
            }
    
            .btn-white4{
                background-color: #fff;
                color:#5e2167;
                border-radius: 50px;
                margin: 3px;
                padding: 2px;
                width:80px;
                }
                
                .footer{
                    display: flex;
                    justify-content: space-between;
                    padding-top:70px;
                    
                }
                
                
                .footer i{
                    color:#fff;
                    border:1px solid #fff;
                    border-radius: 50px;
                    padding: 10px;
                    margin-left: 15px;
                    margin-right: 10px;
                    font-size: 10px;
                
                }







            }