*{
margin: 0%;
padding: 0%
}
/* header */
header{
    padding-top: 25px;
    color: #fff;
    position: fixed;
    width: 100%;
    align-items: center;
    height: 60px;
}

.heads{
    display:flex;
    justify-content: space-evenly;
    
}

.heads li{
    /* margin: 5px; */
    list-style: none;
}
.search{
    width: 25%;
    height: 30px;
    border: 1px solid #912c62;
    border-radius: 50px;
    background-color: #912c62
    ;
    
}
/* end of header */
/* hero session */
.hero{
    
    width: 100%;
    height: 100vh;
     background: linear-gradient(  rgba(94, 33, 103, 1),rgba(204,85,0,0.9)), 
    url("../img/px8.jpeg");
    background-size: cover;
    background-repeat: repeat;
    
   
    
}
.title{
    font-size: 30px;
    text-align: left;
    padding-top: 250px;
    padding-left: 80px;
    color:white;
}
.sub-title{
    text-align: left;
    padding-left: 80px;
    padding-bottom: 25px;
    color:white;
}
.btn-white{
background-color: #fff;
color:#5e2167;
border-radius: 50px;
margin-left: 20px;
padding: 7px;
width:100px;
}